<p class="text-6xl font-bold text-white text-center mb-4">Courses / Certificate </p>
<div class="card-container">
  <div *ngFor="let coursesData of coursesDatas" class="flip-card w-1/6 p-4 m-1 bg-white rounded-xl shadow-md overflow-hidden bg-blur bg-opacity-80" (mouseover)="flip(coursesData)">
    <div class="flip-card-inner" [ngClass]="{ 'flipped': flip }">
      <div class="flip-card-front">
        <div class="text-center pt-5 pb-5">
          <p class="text-xl font-bold text-black">{{coursesData.courseName}}</p>
        </div>
        <div class="text-center pt-5 pb-5">
          <p class="text-m text-black pb-1">{{coursesData.institutionName}}</p>
          <p class="text-m text-black">{{coursesData.date | date}}</p>
        </div>
      </div>
      <div class="flip-card-back">
        <img [src]="coursesData.image"  class="h-full w-full ">
       
      </div>
    </div>
  </div>
</div>

