<p class="text-6xl font-bold text-white text-center mb-4">Employment</p>
<div class="m-16 bg-white rounded-xl shadow-md overflow-hidden bg-blur bg-opacity-70">
  <div class="md:flex">
    <div class="md:w-1/4  flex justify-center items-center">
      <img src="../../assets/images/acıbademLogo.png" class="w-full h-full p-8" />
    </div>
    <div class="md:w-3/4 p-4  ">
      <div class="text-center mb-4">
        <p  class="text-3xl font-bold text-black text-center mb-4">{{this.employmentDatas[0].companyName}}</p>
      </div>
      <div >
        <p class="text-2xl  text-black text-center ">{{this.employmentDatas[0].title + ' - '}}{{this.employmentDatas[0].department}}</p>
        <p class="text-xl  text-black text-center mb-4">{{this.employmentDatas[0].startDate |date}} {{' - ' + (this.employmentDatas[0].endDate ? (this.employmentDatas[0].endDate |date): '~')}}</p>
        <p class="text-xl  text-black  mb-4">{{this.employmentDatas[0].summary}}</p>
        <div *ngFor="let info of employmentDatas[0].additionalInformation" class="mb-4">
          <p class="text-xl text-black"> <mat-icon>code</mat-icon> {{ info }}</p>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="m-16 bg-white rounded-xl shadow-md overflow-hidden bg-blur bg-opacity-60">
  <div class="md:flex">
    <div class="md:w-3/4 p-4  ">
      <div class="text-center mb-4">
        <p  class="text-3xl font-bold text-black text-center mb-4">{{this.employmentDatas[1].companyName}}</p>
      </div>
      <div >
        <p class="text-2xl  text-black text-center ">{{this.employmentDatas[1].title + ' - '}}{{this.employmentDatas[1].department}}</p>
        <p class="text-xl  text-black text-center mb-4">{{this.employmentDatas[1].startDate |date}} {{' - ' + (this.employmentDatas[1].endDate ? (this.employmentDatas[1].endDate | date) : '~')}}</p>
        <p class="text-xl  text-black  mb-4">{{this.employmentDatas[1].summary}}</p>
        <div *ngFor="let info of employmentDatas[1].additionalInformation" class="mb-4">
          <p class="text-xl text-black"> <mat-icon>code</mat-icon> {{ info }}</p>
        </div>
        
      </div>
    </div>
    <div class="md:w-1/4  flex justify-center items-center">
      <img src="../../assets/images/ecodationLogo.png" class="w-full h-full p-8" />
    </div>
  </div>
</div>
